body {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  margin: 2rem;
  color: #333;
}

h1 {
  color: #c93;
}

input {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

a {
  color: blue;
  text-decoration: none;
}
